<!-- variable `card` uses the Card interface which is backed by the CardImpl Sling Model -->
<div data-sly-use.card="com.adobe.aem.guides.wknd.components.Card"
     data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${!card.isEmpty}"
     class="cmp-card">
     
     <a class="cmp-card__link" href="${card.linkPath @ extension = 'html'}">

        <div class="cmp-card__wrapper"
              style="background-image: url(${card.imageSrc @ context='uri'})">
				<img src="${card.imageSrc @ context='uri'}"></img>
                <div class="cmp-card__content">

                     <h2 class="cmp-card__title" data-sly-test.title="${card.title}">${title}</h2>

                     <h3 class="cmp-card__description" data-sly-test.description="${card.description}">${description}</h3>
                </div>
            </div>
    </a>  
</div>  

<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=card.isEmpty}"></sly>